@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin card-style {
  background-color: #fff;
  box-shadow: $card-shadow;
  border-radius: 0.8rem;
}

@mixin card-style-blue {
  background-color: $bg-blue;
  box-shadow: $card-shadow;
  border-radius: 0.8rem;
}

@mixin scrollBar($color) {
  /* Scrollbar Styling */
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-button {
    width: 8px;
    height: 1px;
  }
  &::-webkit-scrollbar-track {
    background: #eee;
    // border: thin solid lightgray;
    // box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background: $color;
    border: thin solid $color;
    border-radius: 0.5rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: darken($color, 5%);
  }
}

@mixin horizontalBar($color) {
  /* Scrollbar Styling */
  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-button {
    width: 100%;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background: $color;
    border: thin solid $color;
    border-radius: 0.5rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: darken($color, 5%);
  }
}
