.modal-main {
  border: 1px solid #b8c1d9;
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__header {
    background: #f6f7f9;
    border-bottom: 1px solid #b8c1d9;
    padding: 1rem 1.5rem;

    h4 {
      font-weight: 600;
      font-size: 16px;
      color: $light-gray;
      margin: 0;
    }
  }

  &__content {
    padding: 1.5rem 2rem 1.5rem 1.5rem;
  }

  &__desc {
    margin-bottom: 2rem;

    p {
      font-weight: 600;
      font-size: 1.6rem;
      color: $light-gray;
    }
    small {
      font-size: 1.4rem;
      color: $light-gray;
    }
  }

  &__desc--date {
    margin-bottom: 0;
  }

  &__schedule {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__schedule-btn {
    display: inline-block;
    font-size: 1.2rem;
  }
}
.model-desc {
  font-weight: normal;
  font-size: 1.6rem;
  color: $light-gray;
}

.modal-header {
  display: flex;
  flex-direction: column;
}

.profile {
  &__mentor {
    max-width: 13rem;
    width: 100%;
    border: 1px solid #4282d9;
    max-height: 16rem;
    height: 100%;
    border-radius: 4px 4px 0px 0px;
  }

  &__header {
    height: 4rem;
    background-color: $body-bg;
    border-bottom: 1px solid #4282d9;
    border-radius: 4px 4px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1.5rem;
    align-items: center;
  }

  &__header-image {
    margin: 2rem auto !important;
  }

  &__active-circle {
    border: 1px solid #4282d9;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    position: relative;
  }

  &__inactive-circle {
    border: 1px solid $border-light;
  }

  &__mentee {
    margin-left: 2rem;
    border: 1px solid $border-light;
  }

  &__mentee--1 {
    border: 1px solid #4282d9;
  }

  &__header--1 {
    border-bottom: 1px solid $border-light;
  }

  &__active-incircle {
    @include absCenter;
  }
}
