.profile-preview {
  height: 100%;
  &__container {
    width: 100%;
  }

  &__left {
    @include card-style;
    min-height: 20rem;
    width: 100%;
    display: flex;
    padding: 1rem 1rem 2rem 1rem;

    @media only screen and(max-width:768px) {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
    }
  }

  &__right {
    @include card-style;
    max-height: 20rem;
    height: 20rem;
    width: 100%;
    display: flex;
    padding: 1rem;
  }

  &__img-box {
    max-height: 17rem;
    max-width: 16.6rem;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__about-box {
    padding-left: 2rem;
    width: 100%;
    @media only screen and(max-width:768px) {
      padding-left: 0rem;
      margin-top: 1rem;
    }
  }

  &__title {
    h2 {
      font-weight: 700;
      color: $light-gray;
      font-size: 2rem;
    }
  }

  &__position {
    display: flex;
    margin-top: 1.5rem;

    h3 {
      color: $light-gray;
      font-weight: 600;
      font-size: 1.6rem;
      padding-left: 1rem;

      span {
        font-weight: normal;
      }
    }
  }

  &__location {
    display: flex;
    margin-top: 0.5rem;

    h3 {
      color: $light-gray;
      font-weight: normal;
      font-size: 1.6rem;
      padding-left: 1rem;
    }
  }

  &__social-container {
    display: flex;
    margin-top: 5rem;

    @media only screen and(max-width:768px) {
      flex-direction: column;
      margin-top: 2rem;
    }
  }

  &__social-img-box {
    img {
      &:last-child {
        padding-left: 1rem;
      }
    }
  }

  &__btn-box {
    padding-left: 1rem;

    @media only screen and(max-width:768px) {
      padding-left: 0;
      margin-top: 2rem;

      a {
        margin-left: 0 !important;
      }
    }

    a {
      margin-left: 1rem;
    }
  }

  &__awards-points {
    width: 43%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h4 {
      font-weight: 500;
      color: $light-gray;
      font-size: 3.6rem;
    }

    p {
      font-size: 1.4rem;
      color: $light-gray;
      text-transform: capitalize;
      font-weight: normal;
      text-align: center;
    }
  }

  &__icons-container {
    width: 100%;
  }

  &__icon-wrap-box {
    max-width: 4rem;
    max-height: 4rem;
    img {
      height: 100%;
      width: 100%;
    }
  }

  &__icons-wrap {
    margin-top: 3rem;
  }

  &__icon-1,
  &__icon-2 {
    width: 100%;
    height: 4rem;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-around;
  }
  &__icon-2 {
    margin-top: 2rem;
  }

  &__box-tab {
    margin: 2.5rem 0;
    ul {
      padding-left: 23rem;

      @media only screen and(max-width:1090px) {
        padding-left: 15rem;
      }
      @media only screen and(max-width:1050px) {
        padding-left: 0rem;
      }
    }
  }
}

.container-resize {
  max-width: 80%;
  margin: auto;

  @media only screen and(max-width:500px) {
    max-width: 100%;
  }
}
.profile-preview__box-tab li {
  max-width: 14rem;
  width: 100%;
  text-align: center;
}

.about-content {
  &__box {
  }

  &__summary-container {
    @include card-style;
    padding: 2rem 3.5rem;
    margin-bottom: 2rem;
    h2 {
      font-weight: 600;
      font-size: 1.6rem;
      color: $light-gray;
    }

    p {
      color: $light-gray;
      font-size: 1.3rem;
      font-weight: normal;
    }
  }

  &__desc {
    margin: 1rem 0;
  }

  &__show-more {
    color: #007bff;
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 1rem;
    display: inline-block;
  }

  &__Special-Skills {
    @include card-style;
    padding: 2rem 3.5rem;
    margin-bottom: 2rem;

    h2 {
      font-weight: 600;
      font-size: 1.6rem;
      color: $light-gray;
    }
  }

  &__Skills-box {
    margin-top: 2rem;
    a:not(:first-child) {
      margin-left: 1.5rem;

      @media only screen and(max-width:768px) {
        display: inline-block;
      }
    }
  }
}

.achieve-tab {
  &__wrap {
    @include card-style;
    padding: 2rem 3rem;

    h2 {
      font-size: 2rem;
      color: #1f1f32;
      font-weight: normal;
    }
  }

  &__content {
    margin: 5rem 0;
    padding-bottom: 5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__box {
    padding-left: 2rem;
    h3 {
      font-size: 1.2rem;
      font-weight: normal;
      color: #212529;
      margin-top: 1.5rem;
      max-width: 2rem;
      line-height: 1.8rem;
    }
    span {
      white-space: pre-line;
    }
  }

  &__img {
  }

  &__desc {
    p {
      color: #71798c;
      font-size: 1.4rem;
      font-weight: normal;
    }
  }
}

.followers {
  &__container {
  }

  &__box {
    @include card-style;
    padding: 1rem;
    padding-top: 1.5rem;
    max-width: 100%;
    margin-bottom: 2.5rem;
  }

  &__box-profile {
    display: flex;
  }

  &__box-profile-img {
    border-radius: 50%;
    max-width: 6.7rem;
    max-height: 6.7rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__box-profile-desc {
    padding-left: 2rem;
  }

  &__user-name {
    font-weight: 700;
    color: $light-gray;
    font-size: 2rem;
  }

  &__user-position {
    font-weight: normal;
    color: $light-gray;
    font-size: 1.4rem;
    margin: 0.5rem 0;
  }

  &__user-location {
    font-weight: normal;
    color: $light-gray;
    font-size: 1.3rem;
  }

  &__job-desc {
    display: flex;
    align-items: end;
    margin-top: 2rem;

    h2 {
      font-weight: 600;
      color: $light-gray;
      font-size: 1.4rem;
      margin-left: 1rem;
    }
  }

  &__box-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;

    a {
      padding: 0.5rem 4rem;
    }
  }
}
